* {
  box-sizing: border-box;
}



body {
  font-family: "open sans", "Times new roman";
  overflow-x: hidden;
}

.logo {
  margin-top: 2rem;}

section {
  position: relative;
}

.header {
  display: flex;
  height: auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  
}

.menu-btn{
  display: flex;
  align-items: center;
  position: absolute;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  visibility: hidden;
}
 
#menu-toggle{
  opacity: 0;
}

#menu-toggle:checked ~ .menu-btn > span{
  transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn > span::before{
  top: 0;
  transform: rotate(0);
}
#menu-toggle:checked ~ .menu-btn > span::after{
  top: 0;
  transform: rotate(90deg);
}


.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu-btn > span::before {
  content: '';
  top: -8px;
}
.menu-btn > span::after {
  content: '';
  top: 8px;
}

.header .menu {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.header .menu menu {
  display: flex;
  list-style: none;
  height: 1.5rem;
  margin: 0;
}

.header .menu .menu-item {
  padding: 1px;
  margin-right: 1rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .menu .menu-item .qwe {
  text-decoration: none;
  color: #54524f;
}

.header .search {
  display: flex;
  align-items: center;
}

.header .search form {
  height: 100%;
  margin: 0;
  position: relative;
}

.header .search-input {
  width: 100%;
  height: 1.5rem;
  border-radius: 1.5rem;
  border: hidden;
  background: #c3bfbc;
}

.header .search-button {
  position: absolute;
  height: 1.5rem;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  top: 0;
  right: 0.7rem;
}

@media screen and (max-width: 800px) {
  .header, .header .menu, .header .menu menu{flex-direction: column; height: 100%; padding: 0}
  .header{height: auto; padding-top: 1rem;}
  .header .menu menu {height: 0;}
  menu {visibility: hidden;}
  .search {visibility: hidden;}
  .menu-btn {visibility: visible;}
  #menu-toggle:checked ~ menu { visibility: unset; height: 10rem;}
  #menu-toggle:checked ~ .search { visibility: unset;}
  /* #menu-toggle:checked ~ header { height: 10;} */
}

.section2 {
  height: 61rem;
  padding-top: 15rem;  
  /* background: url(/progects/first/img/bott.png) center bottom no-repeat,  url(/progects/first/img/top.png) center top no-repeat, no-repeat url(../img/background-second.png); */
}

.background,
.background-top,
.background-bottom {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  margin: 0;
  padding: 0; 
}

.background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background-top,
.background-bottom {
  z-index: unset;
  background-size: 100% 100%;
  background-position: center top;
  background-repeat: no-repeat;
  height: 10vw;
}

.background-top {
  background-image: url(../img/top.png);
  bottom: unset;
}

.background-bottom {
  background-image: url(../img/bott.png);
  top: unset;
}

.section2 .section2-header {
  margin-left: 4rem;
  text-transform: uppercase;
  font-size: 5rem;
  height: 10rem;
  width: 31rem;
  margin-bottom: 0;
  color: #edb47c;
  text-shadow: 0.1rem -0.1rem 0.1rem lightgray;
  font-weight: bold;
  }

.section2 .under-header {
  margin-left: 4.5rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0.35rem;
}  


.section2 .read-button {
  margin-left: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  background-color: rgb(255, 255, 255);
  border: 0px solid #000;
  border-radius: 1.5rem;
  width: 10rem;
  height: 2rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: #776c64;
  text-decoration: none;
}
.section2 .descr {
  margin-left: 4rem;
  font-style: italic;
  font-size: 1.4rem;
  width: 25rem;
}

@media screen and (max-width:550px) {
 .section2 {height: 50rem; padding-top: 7rem;}
 .section2 .section2-header{font-size: 2.5rem;
width: 15rem}
 .section2 .descr {font-size: 1.1rem; -webkit-text-stroke: 0.3px #ffffff;
width: 15rem}  
}
.section3 {
display: flex;
align-items: center;
flex-direction: column;
background: bottom left no-repeat url(/Progects/first/img/shadow.png);
padding-bottom: 10rem;
}

.section3 .let {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3.5rem;
  color: #f6a44e;
  margin-bottom: 1rem;
}

.section3 .under-let {
  font-size: 1.75rem;
  width: 46rem;
  text-align: center;
  color: #a19b96;
}

.section3 .lorem {
  list-style: none;
  display: flex;
  padding: 0 8.5%;
}

.section3 .lorem .section3-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 2.75rem;

}

.section3 .lorem .img {
  height: 400px;
  width: 100%;
  margin-bottom: 0;
 }

.section3 .lorem .lorem2 {
  display: flex;
  font-size: 2rem;
  color: #FFFFFF;
  font-weight: bold;
  background-color: #7f7770;
  margin: 0;
  height: 5.4rem;
  align-items: center;
  padding-left: 1rem;
  width: 100%;
}

.section3 .lorem .under-lorem{
  display: flex;
  font-size: 1.5rem;
  color: #FFFFFF;
  background-color: #7f7770;
  margin: 0;
  height: 5.4rem;
  padding-left: 1rem;
  font-weight: lighter;
}

.section3 .show-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  background-color: #7f7770;
  border: 0px solid #000;
  border-radius: 2.5rem;
  width: 25rem;
  height: 5rem;
  font-weight: bolder;
  font-size: 1.75rem;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.15rem;
}

@media screen and (max-width: 1258px) {
  .section3 .lorem {flex-direction: column;
                    align-items: center;}
  .section3 .lorem .section3-block {width: 80%;
    max-width: 388px;
    margin-bottom: 5rem;
}
}

@media screen and (max-width: 800px) {
 .section3 .let {font-size: 1.5rem;}
 .section3 .under-let {font-size: 1rem;
                       width: 15rem}
 .section3 .section3-block { height: auto;
align-items: flex-start;}
 .section3 .lorem .img {max-width: 100%;
  height: auto;
}
 .section3 .lorem .lorem2 {font-size: 1.5rem;}
 .section3 .lorem .under-lorem {font-size: 1rem;}
 .section3 .show-button {width: 20rem}
}

.section4 {
  display: flex;
}

.section4 .section4-img {
  width: 50%;
  display: flex;
  height: 69.65rem;
 object-fit: contain;
}

.section4 .section4-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 5rem;
  background: #7f7770;
  width: 50%
}

.section4 .section4-text .section4-text-header {
  color: #ffffff;
  font-weight: bold;
  font-size: 4rem;
}

.section4 .section4-text .section4-lorem {
  color: #ffffff;
  font-size: 2rem;
  margin-top: 0;
  margin-right: 5rem;
  width: 40rem;
}

.section4 .section4-text .read-button1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  background-color: #f6a44e;
  border: 0px solid #000;
  border-radius: 5rem;
  width: 25rem;
  height: 6rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.15rem;
  font-size: 2rem;
}

@media screen and (max-width: 800px) {
  .section4{flex-direction: column;}
.section4 .section4-img {width: 100%;
height: auto;
object-fit:cover;}
.section4 .section4-img .section4img {width: 100%;
height: auto;}
.section4 .section4-text {width: 100%;
  padding-bottom: 1rem;}
.section4 .section4-text .section4-text-header {font-size: 3rem;}
.section4 .section4-text .section4-lorem {font-size: 1.5rem;
width: 80%}
.section4 .section4-text .read-button1 {width: 80%}
}


.section5{
  display: flex;
}

.section5 .section5-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 7rem;
  background: #edb47c;
  width: 50%;
}

.section5 .section5-text .section5-text-header {
  color: #ffffff;
  font-weight: bold;
  font-size: 5rem;
  width: 50rem;
}

.section5 .section5-text .section5-lorem {
  color: #ffffff;
  font-size: 2rem;
  margin-top: 0;
  width: 44rem;
}

.section5 .section5-text .read-button2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  background-color: #f6a44e;
  border: 0px solid #000;
  border-radius: 3rem;
  width: 25rem;
  height: 6rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.15rem;
  font-size: 2rem;
}

.section5 .section5-img .section5img {
  width: 132.5%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .section5{flex-direction: column;}
.section5 .section5-img {width: 100%;
height: auto;
object-fit:cover;}
.section5 .section5-img .section5img {width: 100%;
height: auto;}
.section5 .section5-text {width: 100%;
  padding-bottom: 1rem;}
.section5 .section5-text .section5-text-header {font-size: 3rem;
width: 80%}
.section5 .section5-text .section5-lorem {font-size: 1.5rem;
width: 80%}
.section5 .section5-text .read-button2 {width: 80%}
}


.section6 {
  display: flex;
  flex-direction: column;
  height: 60.5rem;
  align-items: center;
  justify-content: center;
  background: center left no-repeat url(/Progects/first/img/shadow.png), url(/progects/first/img/bott.png) center bottom no-repeat, url(/progects/first/img/top.png) center top no-repeat, #99928d;
  background-size: auto, 100% 25%, 100% 25%;
}

.section6 .section6-header {
font-size: 5rem;
color: #ffffff;
}

.section6 .section6-under {
  font-size: 2rem;
  font-weight: 200;
  width: 65rem;
  color: #ffffff;
  text-align: center;
  color: #dcdcdc;
}

@media screen and (max-width: 800px) {
  .section6 .section6-header {font-size: 2.5rem;
  width: 80%}
  .section6 .section6-under {font-size: 1.5rem;
  width: 80%}
  .section6 {background-size: auto, 100% 10%, 100% 10%;
  height: 45rem;}
}

.section7 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  background-size: 100%;
  height: 91.5rem;
}

.section7 .explore {
  position: absolute;
  color: #deb37e;
  font-size: 7.5rem;
  font-style: italic;
  font-weight: 900;
  padding-right: 5rem;
  text-transform: uppercase;
  text-shadow: 0.1rem -0.1rem 0.5rem #000;
  margin-top: 0;
}

.section7 .world {
  position: absolute;
  color: #54524f;
  font-size: 7.5rem;
  font-weight: 900;
  padding-right: 5rem;
  text-transform: uppercase;
  font-style: italic;
  text-shadow: 0.1rem -0.1rem 0.5rem #000;
  margin-bottom: 0;
}

@media screen and (max-width: 800px) {
  .section7 .explore, .section7 .world {font-size: 3rem;
    -webkit-text-stroke: 0.3px #ffffff;}
  .section7 {height: 45rem}  
}

.section8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: bottom right no-repeat url(/Progects/first/img/reverse.png);
  background-size: 20%;
}

.section8 .three {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 75%;
}

.section8 .three .lore {
  color: #edb47c;
  font-size: 3rem;
  font-weight: bold;
}

.section8 .three .long {
  display: flex;
  font-size: 1.5rem;
  font-weight: 500;
  width: 30rem;
  color: #324147;
}

.section8 .e{
 font-size: 10rem;
 font-style: italic;
 font-weight: bold;
 text-align: center;
 margin: 0;
 margin-right: 0;
 transform: rotate(180deg);
}
.section8 .quote {
 font-weight: bold;
 font-size: 2rem;
 width: 65rem;
 text-align: center;
 margin-top: 0rem;
}

.section8 .under-quote {
  font-weight: bold;
  text-align: center;
  font-size: 1.75rem;
}

@media screen and (max-width: 800px) {
.section8 .three {
  flex-direction: column;
}  
.section8 .quote {width: 15rem;
font-size: 1.5rem;}
.section8 .under-quote {
  font-size: 1.15rem;
}
}

.section9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  background: center bottom no-repeat url(/progects/first/img/bott.png), center top no-repeat url(/progects/first/img/top.png), #edb47c;
  background-size: 100% 25%;
}

.section9 .title {
  font-size: 5rem;
  color: #ffffff;
  font-weight: bold;
}

.section9 .under-title {
  font-size: 2rem;
  color: #54524f;
  width: 65rem;
  text-align: center;
}

.section9 .email {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}

.section9 .email-form {
  height: 20rem;
  margin: 0;
  position: relative;
}

.section9 .email-input {
  width: 55rem;
  height: 5rem;
  border-radius: 5rem;
  border: hidden;
  background: #ffffff;
  font-size: 2rem;
  padding-left: 3rem;
}

.section9 .email-button {
  position: absolute;
  height: 5rem;
  width: 17.5rem;
  background: #54524f;
  border: 0;
  border-radius: 5rem;
  top: 0;
  right: 0rem;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}

@media screen and (max-width: 800px) {
 .section9 {background-size: 100% 10%;}
 .section9 .title {font-size: 2.5rem;}
 .section9 .under-title {font-size: 1.15rem;
width: 15rem}
 .section9 .email-input {width: 20rem;
height: 2.5rem;}
 .section9 .email-button {width: 5rem;
height: 2.5rem;
font-size: 0.5rem;}

}

.footer {
  display: flex;
  flex-direction: row;
  background: center top no-repeat url(/progects/first/img/top.png), #7f7770;
  background-size: 100% 25%;
  justify-content: space-around;
  padding-top: 20.63rem;
  
}

.footer .column1 {
  width: 38.56rem;
  margin-bottom: 5rem;
}

.footer .head {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 300;
}

.footer .foot1 {
  width: 35rem;
  color: #ffffff;
  font-size: 1.5rem;
}

.footer .social {
  background: inherit;
  border: none;
}

.footer .column2 .foot {
  color: #ffffff;
  font-size: 1.5rem;
}

@media screen and (max-width: 800px) {
  .footer {background-size: 100% 5%;
    flex-direction: column;
    padding-top: 10rem;
  }
    .footer .column1 {width: 20rem}
  .footer .foot1 {width: 20rem}
}